
<body>

    <h1>Cost Calculator</h1>
    <br />
    <br />
    <br />


    <label for="hrs">Number of Hrs</label>
    <input type="number" min="1" max="10" name="hrs" id="hrs" />
    <br />
    <br />
    <label for="rate">Hourly Rate</label>
    <input type="number" name="rate" id="rate" value="25" readonly />

    <br />
    <br />


    <br />
    <button type="submit" onclick="calculate(validate())">Submit</button>




    <label for="total">Total Cost</label>
    <input type="text" id="total" readonly />




</body>
